<!-- Navigation -->
<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div th:fragment="header">

		<head>

			<meta charset="utf-8"/>
			<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
			<meta name="viewport"
				content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
			
			<meta name="description" content=""/>
			<meta name="author" content=""/>
			<title>Dzyan - The Library System</title>
			
			<!-- Bootstrap core CSS -->
			<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>  
			
			<!-- DataTable Css -->
			<link rel="stylesheet" type="text/css" href="datatable/css/bootstrap4.min.css"/>
			<link rel="stylesheet" type="text/css" href="datatable/css/bootstrap.css"/>
			
			<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.2.3/css/rowReorder.dataTables.min.css"/>
			<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css"/>
			
			<!-- Custom fonts for this template -->
			<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
			 
			<!-- Custom styles for this template -->
			<link href="css/sb-admin.css" rel="stylesheet"/>

		</head>

	</div>
</body>
</html>