<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: header"></div>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="http://github.hubspot.com/odometer/odometer.js"></script>
<link rel="stylesheet"
	href="http://github.hubspot.com/odometer/themes/odometer-theme-default.css" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	crossorigin="anonymous" />
<script type="text/javascript" src="js/bootstrap-notify.min.js"></script>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

	<div th:replace="fragments/navigation :: nav"></div>

	<div class="content-wrapper">

		<div class="container-fluid">

			<!-- Breadcrumbs -->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
				<li class="breadcrumb-item active">My Dashboard</li>
			</ol>
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-xs-6 col-md-3 col-lg-3">
							<div class="panel border-right">
								<div class="row center-content" >
									<em class="fa fa-2x fa-book color-blue"></em>
								</div>
								<div class="row center-content">
									<h5 class="large">120</h5>
								</div>
								<div class="row center-content">
									<span class="text-muted">Livros</span>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-md-3 col-lg-3 ">
							<div class="panel border-right">
								<div class="row center-content">
									<em class="fa fa-2x fa-exchange color-orange"></em>
									</div>
								<div class="row center-content">
									<h5 class="large">52</h5>
								</div>
								<div class="row center-content">
									<span class="text-muted">Livros</span>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-md-3 col-lg-3 ">
							<div class="panel border-right">
								<div class="row center-content">
									<em class="fa fa-2x fa-thumbs-up color-teal"></em>
									</div>
								<div class="row center-content">
									<h5 class="large">24%</h5>
								</div>
								<div class="row center-content">
									<span class="text-muted">Livros</span>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-md-3 col-lg-3 ">
							<div class="panel">
								<div class="row center-content">
									<em class="fa fa-2x fa-thumbs-down color-red"></em>
									</div>
								<div class="row center-content">
									<h5 class="large">32%</h5>
								</div>
								<div class="row center-content">
									<span class="text-muted">Livros</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br />
			<div class="card mb-3">
				<div class="card-header">Emprestimos</div>
				<div class="card-body">
					<div class="panel panel-container">
						<div class="row">
							<div class="col-md-12">
								<div class="canvas-wrapper">
									<canvas class="main-chart" id="line-chart" height="200"
										width="600"></canvas>
								</div>
							</div>
						</div>
						<!--/.row-->
					</div>
				</div>
			</div>

		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- /.content-wrapper -->

	<div th:replace="fragments/footer :: footer"></div>

	<!-- Scroll to Top Button -->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fa fa-angle-up"></i>
	</a>

	<!-- Logout Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Deseja sair?</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cancelar</button>
					<a class="btn btn-primary" href="login.html">Sair</a>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="init/init.js"></script>
<script type="text/javascript" src="js/bootstrap-notify.min.js"></script>
<script src="vendor/odometer/odometer.js"></script>
</html>
